{{!-- <div id="myfirstchart" style="height: 250px;"></div> --}}
<div class="container p-4">
    <div>
        <h2>Category Of JS.io</h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Category Form</h2>
                    <form action="/admin/category/" method="POST">
                        <div class="form-group row">
                            <label for="region" class="col-sm-2 col-form-label">Category Name</label>
                            <div class="col-sm-10">
                                <input name="name" type="text" class="form-control" value="{{element.name}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="region" class="col-sm-2 col-form-label">Category Description</label>
                            <div class="col-sm-10">
                                <input name="description" type="text" class="form-control"
                                    value="{{element.description}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
                <div class="w-100"></div>
                <hr>
                <div class="col">
                    <h2>Category Table</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Category Id</th>
                                <th scope="col">Category Name</th>
                                <th scope="col">Category Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each categoryArr as |elementR|}}
                            <tr>
                                <th scope="row">{{elementR.id}}#</th>
                                <td>{{elementR.id}}</td>
                                <td>{{elementR.name}}</td>
                                <td>{{elementR.description}}</td>
                                <td><a href="/admin/category/edit/{{elementR.id}}"
                                        class="btn btn-sm btn-primary">Edit</a></td>
                                <td><a href="/admin/category/delete/{{elementR.id}}" class="btn btn-sm btn-danger"
                                        onclick="return confirm('¿are you ?')">Delete</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        <hr>
        <div class="col">
            <h2>Category Details</h2>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category Id</th>
                        <th scope="col">Category Name</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row">{{element.id}}#</th>
                        <td>{{element.id}}</td>
                        <td>{{element.name}}</td>
                        <td>{{element.description}}</td>
                        <td><a href="/admin/category" class="btn btn-sm btn-primary">All</a>
                        </td>
                        <td><a href="/admin/category/edit/{{element.id}}" class="btn btn-sm btn-primary">Edit</a></td>
                        <td><a href="/admin/category/delete/{{element.id}}" class="btn btn-sm btn-danger"
                                onclick="return confirm('¿are you ?')">Delete</a></td>
                    </tr>

                </tbody>
            </table>

        </div>
        <hr>

    </div>