<h2>Orders-Information</h2>
<div id="mytertiarychart" style="height: 250px;"></div>
<script>
    fetch('http://localhost:3000/api/information')
        .then((response) => {
            console.log(response)
            return response.json();
        })
        .then((dataDB) => {
            console.log(dataDB);
            new Morris.Area({
                // ID of the element in which to draw the chart.
                element: 'mytertiarychart',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: dataDB,
                // The name of the data record attribute that contains x-values.
                xkey: 'id',
                // A list of names of data record attributes that contain y-values.
                ykeys: ['unitprice', 'unitstock', 'unitonorder', 'fk_supplier', 'fk_category', 'fk_orders', 'fk_product', 'quantity'],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Price', 'Stock', 'Ordered', 'Supplier', 'Category', 'Orders', 'Product', 'Quantity'],
                lineColors: ['#6f42c1', '#20c997', '#dc3545', '#343a40', '#20c997', '#17a2b8', '#ffc107', '#007bff'],
                lineWidth: 1
            }).on('click', function (i, row) {
                console.log(i, row)
                let algo = document.getElementById('algo')
                algo.innerText = i
            });

        });

    function ajax() {
        const http = new XMLHttpRequest();
        const url = 'http://localhost:3000/api/orderdetails/';
        http.onreadystatechange = function () {
            //if (this.readyState == 4 && this.status == 201) {
            console.log(this.responseText)
            //}
            http.open('GET', url);
            http.send()
        }
    };

</script>


<h2>All Info Table</h2>
<hr>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Unit Stock</th>
            <th scope="col">Unit on Order</th>
            <th scope="col">Supplier Id</th>
            <th scope="col">Category Id</th>
            <th scope="col">Order Id</th>
            <th scope="col">Product Id</th>
            <th scope="col">Quantity</th>
            <th scope="col">Discont</th>
            <th scope="col">Customer Id</th>
            <th scope="col">Employee Id</th>
            <th scope="col">Order Date</th>
            <th scope="col">Require Date</th>
            <th scope="col">Address</th>

        </tr>
    </thead>
    <tbody>
        {{#each infoArr as |cust|}}
        <tr>
            <th scope="row">{{cust.id}}#</th>
            <td>{{cust.id}}</td>
            <td>{{cust.name}}</td>
            <td>{{cust.unitprice}}</td>
            <td>{{cust.unitstock}}</td>
            <td>{{cust.unitonorder}}</td>
            <td><a href="/admin/suppliers/edit/{{cust.fk_supplier}}">{{cust.fk_supplier}}</a></td>
            <td><a href="/admin/category/edit/{{cust.fk_category}}">{{cust.fk_category}}</a></td>
            <td><a href="/admin/orders/see/{{cust.fk_orders}}">{{cust.fk_orders}}</a></td>
            <td><a href="/admin/products/edit/{{fk_product}}">{{cust.fk_product}}</a></td>


            <td>{{cust.quantity}}</td>
            <td>{{cust.discunt}}</td>
            <td><a href="/admin/customers/{{fk_customer}}">{{cust.fk_customer}}</a></td>
            <td><a href="/admin/employee/edit/{{fk_employee}}">{{fk_employee}}</a></td>
            <td>{{cust.orderdate}}</td>
            <td>{{cust.requiredate}}</td>
            <td>{{cust.address}}</td>


            {{/each}}
    </tbody>
</table>
<hr>