<h2>Orders Table </h2>
<hr>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Customer Id</th>
            <th scope="col">Employee Id</th>
            <th scope="col">Order Date</th>
            <th scope="col">Require Date</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        {{#each ordArr as |cust|}}
        <tr>
            <th scope="row">{{cust.id}}#</th>
            <td>{{cust.id}}</td>
            <td><a href="/admin/customers/{{cust.fk_customer}}">{{cust.fk_customer}}</a></td>
            <td><a href="/admin/employee/edit/{{cust.fk_employee}}">{{cust.fk_employee}}</a></td>
            <td>{{cust.orderdate}}</td>
            <td>{{cust.requiredate}}</td>
            <td>{{cust.address}}</td>
            <td><a href="/admin/orders/see/{{cust.id}}" class="btn btn-sm btn-primary">See</a></td>
            <td><a href="/admin/orders/edit/{{cust.id}}" class="btn btn-sm btn-primary">Edit</a></td>
            <td><a href="/admin/orders/delete/{{cust.id}}" class="btn btn-sm btn-danger"
                    onclick="return confirm('¿are you ?')">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<hr>
<h2>Info Orders-Details</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Customer Id</th>
            <th scope="col">Employee Id</th>
            <th scope="col">Order Date</th>
            <th scope="col">Require Date</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{element.id}}#</th>
            <td>{{element.id}}</td>
            <td><a href="/admin/customers/{{element.fk_customer}}">{{element.fk_customer}}</a></td>
            <td><a href="/admin/employee/{{element.fk_employee}}">{{element.fk_employee}}</a></td>
            <td>{{element.orderdate}}</td>
            <td>{{element.requiredate}}</td>
            <td>{{element.address}}</td>
            <td><a href="/admin/orders/edit/{{element.id}}" class="btn btn-sm btn-primary">Edit</a></td>
            <td><a href="/admin/orders/delete/{{element.id}}" class="btn btn-sm btn-danger"
                    onclick="return confirm('¿are you ?')">Delete</a></td>
            <td><a href="/admin/orders" class="btn btn-sm btn-primary">All Orders-Details</a></td>
        </tr>
    </tbody>
</table>
<hr>
<h2>Orders-Details Form</h2>
<form action="/admin/orders" method="POST" id="Form">
    <div class="form-group row">
        <label for="fk_customer" class="col-sm-2 col-form-label">Customer No.</label>
        <div class="col-sm-10">
            <input name="fk_customer" type="text" class="form-control" value="{{element.fk_customer}}" id="inputEmail3">
        </div>
    </div>
    <div class="form-group row">
        <label for="fk_employee" class="col-sm-2 col-form-label">Employee No.</label>
        <div class="col-sm-10">
            <input value="{{element.fk_employee}}" name="fk_employee" type="text" class="form-control"
                id="inputPassword3">
        </div>
    </div>
    <div class="form-group row">
        <label for="orderdate" class="col-sm-2 col-form-label">Order Date</label>
        <div class="col-sm-10">
            <input value="{{element.orderdate}}" name="orderdate" type="text" class="form-control" id="inputPassword3">
        </div>
    </div>
    <div class="form-group row">
        <label for="requiredate" class="col-sm-2 col-form-label">Require Date</label>
        <div class="col-sm-10">
            <input value="{{element.requiredate}}" name="requiredate" type="text" class="form-control"
                id="inputPassword3">
        </div>
    </div>
    <div class="form-group row">
        <label for="address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input value="{{element.address}}" name="address" type="text" class="form-control" id="inputPassword3">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </div>
</form>
<hr>