<h2>Regions Of JS.io</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Region Form</h2>
            <form action="/admin/regions/regions" method="POST">
                <div class="form-group row">
                    <label for="id" class="col-sm-2 col-form-label">Region Id</label>
                    <div class="col-sm-10">
                        <input name="id" type="text" class="form-control" value="{{elementR.id}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="region" class="col-sm-2 col-form-label">Region Name</label>
                    <div class="col-sm-10">
                        <input name="region" type="text" class="form-control" value="{{elementR.region}}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
            <hr>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h2>Regions Table</h2>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Region Id</th>
                        <th scope="col">Region Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each regionsArr as |elementR|}}
                    <tr>
                        <th scope="row">{{elementR.id}}#</th>
                        <td>{{elementR.id}}</td>
                        <td>{{elementR.region}}</td>
                        <td><a href="/admin/regions/regions/{{elementR.id}}">{{elementR.fk_region}}</a></td>
                        <td><a href="/admin/regions/regions/see/{{elementR.id}}" class="btn btn-sm btn-primary">See</a>
                        </td>
                        <td><a href="/admin/regions/regions/edit/{{elementR.id}}"
                                class="btn btn-sm btn-primary">Edit</a></td>
                        <td><a href="/admin/regions/delete/regions/{{elementR.id}}" class="btn btn-sm btn-danger"
                                onclick="return confirm('¿are you ?')">Delete</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>

    </div>
</div>
<hr>
<div class="col">
    <h3>Regions Deteils</h3>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Region Id</th>
                <th scope="col">Region Name</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">{{elementR.id}}#</th>
                <td>{{elementR.id}}</td>
                <td>{{elementR.region}}</td>
                <td><a href="/admin/regions/regions/{{elementR.id}}">{{elementR.fk_region}}</a></td>
                <td><a href="/admin/regions" class="btn btn-sm btn-primary">All</a>
                </td>
                <td><a href="/admin/regions/regions/edit/{{elementR.id}}" class="btn btn-sm btn-primary">Edit</a></td>
                <td><a href="/admin/regions/delete/regions/{{elementR.id}}" class="btn btn-sm btn-danger"
                        onclick="return confirm('¿are you ?')">Delete</a></td>
            </tr>

        </tbody>
    </table>
</div>
<hr>